In [1]:
from dask.diagnostics import ProgressBar
from dask.distributed import Client
from nltk.corpus import stopwords
from nltk.sentiment import SentimentIntensityAnalyzer
from nltk.stem import WordNetLemmatizer, PorterStemmer

import dask.dataframe as dd
import html
import psutil
import pandas as pd
import pickle as pkl
import re
import time

In [2]:
# Read the data
# Load and merge dataframes
comments = pd.concat([pd.read_pickle('./pickle_dataframes/comments1.pkl'),
                      pd.read_pickle('./pickle_dataframes/comments2.pkl')]).reset_index(drop=True)

posts = pd.concat([pd.read_pickle('./pickle_dataframes/posts1.pkl'),
                   pd.read_pickle('./pickle_dataframes/posts2.pkl'),
                   pd.read_pickle('./pickle_dataframes/posts3.pkl')]).reset_index(drop=True)

users = pd.read_pickle('./pickle_dataframes/users.pkl')

In [3]:
questions_with_topics = pd.read_pickle('./pickle_dataframes/questions_with_topics.pkl')
answers_with_topics = pd.read_pickle('./pickle_dataframes/answers_with_topics.pkl')
comments_with_topics = pd.read_pickle('./pickle_dataframes/comments_with_topics.pkl')

In [ ]:
comments_result = active_comments.copy()
posts_result = active_posts.copy()

In [ ]:
posts_result.head(5)

,Id,PostTypeId,ParentId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,Tags,AnswerCount,CommentCount,Body_Processed,Title_Processed,BodySentiment,TitleSentiment
26602,42820,2,42791,-1,2019-07-09 16:34:06.980,0,-1,"<p>In addition to the other answers, it is pos...",13141,2019-07-10 08:09:41.230,Comment: N/A,Comment: N/A,-1,6,addition answer possible looked happened uk de...,comment n,0.5343,0.0
50338,79048,2,79027,-1,2023-04-04 23:04:18.057,9,-1,<p>As formulated this seems like an odd questi...,21531,2023-04-05 16:36:06.123,Comment: N/A,Comment: N/A,-1,1,formulated seems like odd question ask unless ...,comment n,0.8555,0.0
28067,45617,1,-1,-19917,2019-09-17 10:49:05.153,2,234,<p>Noted social scientist Charles Murray has <...,-1,2019-09-17 13:15:58.513,Yang's UBI Plan: Does it Differ From Charles M...,<united-states><social-welfare>,1,1,noted social scientist charles murray long adv...,yang ubi plan differ charles murray,0.6249,0.0
35607,57753,2,57746,-1,2020-10-04 14:00:19.883,4,-1,<blockquote>&#xA;<p>In the event of a Presiden...,26455,2020-10-04 14:00:19.883,Comment: N/A,Comment: N/A,-1,0,event presidential candidate death printing ba...,comment n,0.9907,0.0
24743,40396,2,40379,-1,2019-04-09 09:17:20.213,4,-1,<p>Politicians often appear on T.V. as so-call...,8554,2019-04-09 09:17:20.213,Comment: N/A,Comment: N/A,-1,0,politician often appear v called talking head ...,comment n,0.3612,0.0

In [ ]:
posts_result[
    posts_result.ParentId.isin(posts_result.Id.tolist())
    ].head(5)

,Id,PostTypeId,ParentId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,Tags,AnswerCount,CommentCount,Body_Processed,Title_Processed,BodySentiment,TitleSentiment
50338,79048,2,79027,-1,2023-04-04 23:04:18.057,9,-1,<p>As formulated this seems like an odd questi...,21531,2023-04-05 16:36:06.123,Comment: N/A,Comment: N/A,-1,1,formulated seems like odd question ask unless ...,comment n,0.8555,0.0
24743,40396,2,40379,-1,2019-04-09 09:17:20.213,4,-1,<p>Politicians often appear on T.V. as so-call...,8554,2019-04-09 09:17:20.213,Comment: N/A,Comment: N/A,-1,0,politician often appear v called talking head ...,comment n,0.3612,0.0
21639,35467,2,35460,-1,2018-11-19 15:42:50.583,2,-1,<p>In simple terms it means being part of a la...,6095,2018-11-19 15:42:50.583,Comment: N/A,Comment: N/A,-1,12,simple term mean part larger democratic organi...,comment n,0.9612,0.0
41218,67954,2,67900,-1,2021-08-07 01:27:15.867,2,-1,<p>Your specific Q makes more sense focusing o...,33430,2021-08-07 01:27:15.867,Comment: N/A,Comment: N/A,-1,2,specific q make sense focusing news calling rt...,comment n,0.4472,0.0
22539,37667,2,37645,-1,2019-01-04 10:14:36.640,9,-1,<p>In the event of a no-deal crash out of the ...,6095,2019-01-04 10:14:36.640,Comment: N/A,Comment: N/A,-1,2,event deal crash eu france belgium netherlands...,comment n,0.1779,0.0

In [ ]:
posts_result[posts_result.Id == 79027]

,Id,PostTypeId,ParentId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,Tags,AnswerCount,CommentCount,Body_Processed,Title_Processed,BodySentiment,TitleSentiment
50318,79027,1,-1,13493,2023-04-03 18:40:34.400,2,4053,"<p>Both political parties use <a href=""https:/...",6105,2023-04-06 14:31:19.757,"Why does the right seem to rely on ""communism""...",<united-states><parties><rhetoric>,5,1,political party use snarl word denigrate polic...,right seem rely communism snarl word left,-0.4049,0.0

In [ ]:
parent_list = posts_result.Id.tolist()

In [ ]:
parent_list = posts_result.Id.tolist()
df_int = posts_result[
    posts_result.ParentId.isin(parent_list)
    ]
df_int

,Id,PostTypeId,ParentId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,Tags,AnswerCount,CommentCount,Body_Processed,Title_Processed,BodySentiment,TitleSentiment
50338,79048,2,79027,-1,2023-04-04 23:04:18.057,9,-1,<p>As formulated this seems like an odd questi...,21531,2023-04-05 16:36:06.123,Comment: N/A,Comment: N/A,-1,1,formulated seems like odd question ask unless ...,comment n,0.8555,0.0
24743,40396,2,40379,-1,2019-04-09 09:17:20.213,4,-1,<p>Politicians often appear on T.V. as so-call...,8554,2019-04-09 09:17:20.213,Comment: N/A,Comment: N/A,-1,0,politician often appear v called talking head ...,comment n,0.3612,0.0
21639,35467,2,35460,-1,2018-11-19 15:42:50.583,2,-1,<p>In simple terms it means being part of a la...,6095,2018-11-19 15:42:50.583,Comment: N/A,Comment: N/A,-1,12,simple term mean part larger democratic organi...,comment n,0.9612,0.0
41218,67954,2,67900,-1,2021-08-07 01:27:15.867,2,-1,<p>Your specific Q makes more sense focusing o...,33430,2021-08-07 01:27:15.867,Comment: N/A,Comment: N/A,-1,2,specific q make sense focusing news calling rt...,comment n,0.4472,0.0
22539,37667,2,37645,-1,2019-01-04 10:14:36.640,9,-1,<p>In the event of a no-deal crash out of the ...,6095,2019-01-04 10:14:36.640,Comment: N/A,Comment: N/A,-1,2,event deal crash eu france belgium netherlands...,comment n,0.1779,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47366,75413,2,75355,-1,2022-09-13 06:02:50.137,-2,-1,<p>The premise of the question seems flawed. T...,44350,2022-09-13 06:02:50.137,Comment: N/A,Comment: N/A,-1,0,premise question seems flawed king expressing ...,comment n,0.2538,0.0
32630,52549,2,52537,-1,2020-04-07 12:01:20.917,53,-1,<p>Republicans prevented this change because a...,7597,2020-04-07 14:31:13.023,Comment: N/A,Comment: N/A,-1,1,republican prevented change core beneficial el...,comment n,0.9451,0.0
23699,39158,2,904,-1,2019-03-01 22:47:31.477,-1,-1,<p>There are many political parties in Europe ...,17380,2019-03-01 22:47:31.477,Comment: N/A,Comment: N/A,-1,1,many political party europe see amnesty intern...,comment n,-0.7016,0.0
728,855,2,406,-1,2013-01-22 17:44:49.277,10,-1,"<p>It may yet be too early to address the ""moo...",175,2013-01-24 15:36:02.337,Comment: N/A,Comment: N/A,-1,6,may yet early address moon base scenario direc...,comment n,0.8273,0.0
36099,59323,2,59296,-1,2020-10-24 10:56:34.610,1,-1,<p>They don't have a winner in the same way yo...,34662,2020-10-24 10:56:34.610,Comment: N/A,Comment: N/A,-1,0,winner way sport yet anyway said today form po...,comment n,0.9643,0.0

In [ ]:
df_subpost = df_int.groupby('ParentId').agg(
    users_list=('OwnerUserId', lambda x: list(x))
).reset_index(drop=False)
df_subpost

     ParentId             users_list
0          33              [115, 73]
1         307                  [115]
2         323          [36659, 5224]
3         406             [193, 175]
4         904           [220, 17380]
..        ...                    ...
140     79055                [45750]
141     79918                [21949]
142     80260                [32479]
143     80384  [17668, 42582, 46306]
144     80542                 [2670]

[145 rows x 2 columns]

In [ ]:
df_original_poster = posts_result[posts_result.Id.isin(df_int.ParentId.tolist())].copy()
df_original_poster = df_original_poster.groupby('Id').agg(
    original_poster=('OwnerUserId', lambda x: list(x))
)
df_original_poster

      original_poster
Id
33               [-1]
307             [130]
323             [130]
406             [115]
904             [130]
...               ...
79055         [16047]
79918         [22967]
80260         [28660]
80384         [21531]
80542         [16047]

[145 rows x 1 columns]

In [ ]:
df_graph = pd.merge(
    left=df_original_poster,
    right=df_subpost,
    left_on='Id',
    right_on='ParentId'
)

df_graph['original_poster'] = df_graph['original_poster'].apply(lambda x: x[0] if x else None)
df_graph

     original_poster  ParentId             users_list
0                 -1        33              [115, 73]
1                130       307                  [115]
2                130       323          [36659, 5224]
3                115       406             [193, 175]
4                130       904           [220, 17380]
..               ...       ...                    ...
140            16047     79055                [45750]
141            22967     79918                [21949]
142            28660     80260                [32479]
143            21531     80384  [17668, 42582, 46306]
144            16047     80542                 [2670]

[145 rows x 3 columns]

In [ ]:
import networkx as nx

G = nx.Graph()

G.add_nodes_from(df_graph['original_poster'].values)

In [ ]:
G.nodes()

NodeView((-1, 130, 115, 193, 1654, 23, 5279, 2984, 5046, 2430, 270, 8808, 8647, 9016, 10373, 2130, 3169, 7434, 12027, 6738, 11278, 5894, 20263, 9638, 18373, 12531, 7476, 6116, 22967, 24065, 19165, 5534, 18862, 15671, 25684, 6890, 29927, 6105, 28994, 19301, 22118, 29035, 1953, 5571, 3164, 32479, 27084, 22860, 16047, 16957, 28067, 28660, 18367, 21531))

In [ ]:
for idx, row in df_graph.iterrows():
    user_to = row['original_poster']
    

    users_from = row['users_list']
    if len(users_from) == 0:
        continue
    for user_from in users_from:
        G.add_edges_from([(user_to, user_from)])

In [ ]:
G.nodes(data=True)

NodeDataView({-1: {}, 130: {}, 115: {}, 193: {}, 1654: {}, 23: {}, 5279: {}, 2984: {}, 5046: {}, 2430: {}, 270: {}, 8808: {}, 8647: {}, 9016: {}, 10373: {}, 2130: {}, 3169: {}, 7434: {}, 12027: {}, 6738: {}, 11278: {}, 5894: {}, 20263: {}, 9638: {}, 18373: {}, 12531: {}, 7476: {}, 6116: {}, 22967: {}, 24065: {}, 19165: {}, 5534: {}, 18862: {}, 15671: {}, 25684: {}, 6890: {}, 29927: {}, 6105: {}, 28994: {}, 19301: {}, 22118: {}, 29035: {}, 1953: {}, 5571: {}, 3164: {}, 32479: {}, 27084: {}, 22860: {}, 16047: {}, 16957: {}, 28067: {}, 28660: {}, 18367: {}, 21531: {}, 73: {}, 36659: {}, 5224: {}, 175: {}, 220: {}, 17380: {}, 15897: {}, 4330: {}, 3093: {}, 17668: {}, 6034: {}, 300: {}, 6259: {}, 7089: {}, 1827: {}, 10422: {}, 4533: {}, 6095: {}, 6659: {}, 9459: {}, 4666: {}, 7400: {}, 6927: {}, 1470: {}, 20728: {}, 10873: {}, 6598: {}, 169: {}, 11511: {}, 9801: {}, 13377: {}, 11429: {}, 11725: {}, 13893: {}, 10023: {}, 13296: {}, 2969: {}, 16581: {}, 13689: {}, 17151: {}, 2670: {}, 22936: {}, 14788: {}, 6002: {}, 21041: {}, 4235: {}, 21639: {}, 14237: {}, 21216: {}, 2477: {}, 6606: {}, 22961: {}, 20371: {}, 18942: {}, 7303: {}, 12228: {}, 17715: {}, 24082: {}, 11586: {}, 8554: {}, 1440: {}, 1540: {}, 2951: {}, 23014: {}, 26903: {}, 26455: {}, 19246: {}, 8959: {}, 7597: {}, 14675: {}, 41542: {}, 34231: {}, 31987: {}, 31968: {}, 34662: {}, 10444: {}, 38108: {}, 4648: {}, 33430: {}, 39371: {}, 21386: {}, 27814: {}, 11624: {}, 28396: {}, 44341: {}, 44350: {}, 33013: {}, 29989: {}, 45750: {}, 21949: {}, 42582: {}, 46306: {}})

In [ ]:
G.edges()

EdgeView([(-1, 115), (-1, 73), (-1, 4330), (-1, 23), (-1, 2984), (-1, 10422), (-1, 4533), (-1, 6095), (-1, 4666), (-1, -1), (-1, 7400), (-1, 8647), (-1, 10873), (-1, 10373), (-1, 11511), (-1, 10023), (-1, 130), (-1, 2969), (-1, 13689), (-1, 17151), (-1, 7434), (-1, 14788), (-1, 5894), (-1, 18373), (-1, 19301), (-1, 2951), (-1, 23014), (-1, 26455), (-1, 6105), (-1, 28994), (-1, 22118), (-1, 11278), (-1, 2670), (130, 115), (130, 36659), (130, 5224), (130, 220), (130, 17380), (130, 15897), (130, 300), (130, 6927), (130, 1470), (130, 22936), (130, 20371), (130, 18942), (130, 17715), (130, 24082), (130, 9638), (130, 34662), (130, 28067), (115, 193), (115, 175), (115, 3093), (115, 2130), (115, 4666), (193, 2130), (1654, 2130), (5279, 17668), (5279, 6095), (5279, 2477), (5279, 6606), (2984, 6259), (5046, 6034), (5046, 13296), (2430, 7089), (270, 1827), (270, 6659), (8808, 9459), (9016, 20728), (10373, 6598), (10373, 169), (3169, 9801), (3169, 7434), (3169, 14237), (7434, 4666), (7434, 13377), (7434, 11429), (7434, 11725), (7434, 13893), (7434, 16581), (7434, 21041), (7434, 34231), (7434, 4533), (7434, 2670), (12027, 169), (6738, 17668), (11278, 2670), (11278, 4666), (11278, 6002), (11278, 4235), (11278, 18373), (11278, 8959), (11278, 29989), (20263, 14788), (20263, 31968), (20263, 33430), (20263, 39371), (9638, 4666), (18373, 18373), (18373, 15671), (18373, 10444), (18373, 22860), (18373, 33013), (18373, 3164), (18373, 28660), (12531, 21639), (12531, 21216), (7476, 4666), (6116, 22961), (6116, 6095), (6116, 26903), (22967, 7303), (22967, 12228), (22967, 21386), (22967, 21949), (24065, 6095), (19165, 11586), (19165, 6259), (5534, 3164), (5534, 28994), (18862, 8554), (18862, 22118), (15671, 1440), (25684, 10422), (25684, 1540), (6890, 4533), (29927, 19246), (6105, 21531), (28994, 8959), (28994, 28994), (28994, 14675), (28994, 26455), (28994, 41542), (28994, 29035), (28994, 1953), (28994, 16047), (28994, 18367), (19301, 7597), (22118, 31987), (29035, 4648), (5571, 4235), (3164, 8959), (32479, 38108), (32479, 21531), (32479, 28660), (32479, 28396), (32479, 8959), (27084, 8554), (16047, 45750), (16047, 2670), (16957, 9801), (16957, 27814), (28067, 44341), (28067, 44350), (28660, 11624), (28660, 9801), (21531, 17668), (21531, 42582), (21531, 46306)])

In [ ]:
nx.write_graphml(G, 'graph.graphml')

In [ ]:
comments_result.head(5)

,Id,PostId,Score,Text,CreationDate,UserId,Text_Processed,Sentiment
49227,98065,26824,0,"@Royal Canadian Bandit Counting of ""conventio...",2017-12-13 16:58:59.867,15671,royal canadian bandit counting conventional ba...,0.0000
21341,44242,12844,0,You should block-quote the quotes with citatio...,2016-10-30 03:05:40.207,9579,block quote quote citation possible,0.0000
57567,112458,29927,0,@origimbo yes leftists supporting Arab votes i...,2018-04-27 19:58:21.623,7434,origimbo yes leftist supporting arab vote isra...,0.6808
23995,48936,14026,3,I fundamentally think you have the right answe...,2016-12-18 03:48:40.807,3169,fundamentally think right answer downvote argu...,-0.7102
68849,132680,34520,1,There are still a small number of dissident Lo...,2018-10-18 12:40:30.833,21901,still small number dissident loyalist well,0.5423

In [ ]:
active_users

,Id,Reputation,CreationDate,LastAccessDate,Views,UpVotes,DownVotes,PostCount,CommentCount,AcceptedAnswerCount,AnswerCount,TotalActivity,AvgAnswerScore,AvgPostScore,AcceptedAnswerFraction
0,-1,1,2012-12-04 20:12:06.337,2012-12-04 20:12:06.337,267,5442,6725,88.0,863.0,5.0,157.0,1108.0,6.401274,8.886364,0.031847
23,23,16227,2012-12-04 21:49:39.360,2015-02-14 02:38:09.917,1449,803,54,2.0,28.0,1.0,8.0,38.0,7.125000,10.000000,0.125000
96,101,9601,2012-12-05 05:03:38.487,2023-08-30 10:27:39.800,2195,2259,3113,4.0,43.0,0.0,7.0,54.0,18.000000,18.000000,0.000000
109,115,91134,2012-12-05 11:40:42.477,2023-09-02 00:57:59.273,5329,5504,2715,18.0,458.0,3.0,67.0,543.0,8.880597,8.444444,0.044776
123,130,47394,2012-12-05 21:07:06.017,2023-08-31 06:00:47.800,3958,2344,338,34.0,223.0,1.0,15.0,272.0,20.266667,12.500000,0.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34261,42320,7475,2022-03-03 00:24:15.180,2023-08-22 07:22:22.197,447,484,516,0.0,41.0,0.0,8.0,49.0,0.750000,0.000000,0.000000
34626,42710,2048,2022-03-26 18:18:39.627,2023-08-25 03:17:14.093,103,62,104,0.0,17.0,0.0,4.0,21.0,20.500000,0.000000,0.000000
34677,42766,3416,2022-03-30 12:20:39.217,2023-09-01 18:00:55.157,75,115,59,0.0,34.0,0.0,9.0,43.0,8.555556,0.000000,0.000000
36033,44276,4246,2022-09-05 14:11:52.263,2023-09-03 01:01:26.820,153,326,201,4.0,14.0,0.0,3.0,21.0,7.666667,7.500000,0.000000
36739,45056,4144,2022-12-02 23:28:45.900,2023-09-02 11:42:29.477,306,974,72,0.0,56.0,0.0,5.0,61.0,3.800000,0.000000,0.000000

In [ ]:
posts_result[posts_result.OwnerUserId.isin(active_users.Id)]

,Id,PostTypeId,ParentId,AcceptedAnswerId,CreationDate,Score,ViewCount,Body,OwnerUserId,LastActivityDate,Title,Tags,AnswerCount,CommentCount,Body_Processed,Title_Processed,BodySentiment,TitleSentiment
26602,42820,2,42791,-1,2019-07-09 16:34:06.980,0,-1,"<p>In addition to the other answers, it is pos...",13141,2019-07-10 08:09:41.230,Comment: N/A,Comment: N/A,-1,6,addition answer possible looked happened uk de...,comment n,0.5343,0.0000
50338,79048,2,79027,-1,2023-04-04 23:04:18.057,9,-1,<p>As formulated this seems like an odd questi...,21531,2023-04-05 16:36:06.123,Comment: N/A,Comment: N/A,-1,1,formulated seems like odd question ask unless ...,comment n,0.8555,0.0000
28067,45617,1,-1,-19917,2019-09-17 10:49:05.153,2,234,<p>Noted social scientist Charles Murray has <...,-1,2019-09-17 13:15:58.513,Yang's UBI Plan: Does it Differ From Charles M...,<united-states><social-welfare>,1,1,noted social scientist charles murray long adv...,yang ubi plan differ charles murray,0.6249,0.0000
35607,57753,2,57746,-1,2020-10-04 14:00:19.883,4,-1,<blockquote>&#xA;<p>In the event of a Presiden...,26455,2020-10-04 14:00:19.883,Comment: N/A,Comment: N/A,-1,0,event presidential candidate death printing ba...,comment n,0.9907,0.0000
24743,40396,2,40379,-1,2019-04-09 09:17:20.213,4,-1,<p>Politicians often appear on T.V. as so-call...,8554,2019-04-09 09:17:20.213,Comment: N/A,Comment: N/A,-1,0,politician often appear v called talking head ...,comment n,0.3612,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46510,74410,2,74399,-1,2022-07-25 16:31:54.583,20,-1,"<p>(Kyoto is <a href=""https://treaties.un.org/...",21531,2022-07-27 00:15:44.047,Comment: N/A,Comment: N/A,-1,28,kyoto superseded paris protocol fwiw china rus...,comment n,-0.4346,0.0000
2980,4737,1,-1,4748,2014-08-22 00:15:11.813,0,248,<p>SNAP decreased quite a bit nation wide. Wha...,-1,2014-08-24 06:00:59.557,What was the rationale behind cutting SNAP pay...,<united-states><social-welfare>,1,5,snap decreased quite bit nation wide rational ...,rationale behind cutting snap payment increase,0.3270,0.2869
25103,40915,2,40914,-1,2019-04-22 05:06:11.817,2,-1,<p>Apparently there were none; from the <a hre...,18373,2019-04-22 05:06:11.817,Comment: N/A,Comment: N/A,-1,0,apparently none official report referendum rec...,comment n,0.9371,0.0000
31945,50622,2,13817,-1,2020-03-02 20:02:27.517,-2,-1,<p>Ignoring the obvious reason for the militar...,20728,2020-03-02 20:02:27.517,Comment: N/A,Comment: N/A,-1,0,ignoring obvious reason military existence one...,comment n,-0.1796,0.0000
24692,40338,2,40334,-1,2019-04-08 00:01:05.853,54,-1,<p>Institutions and constitutional arrangement...,18373,2019-04-08 00:01:05.853,Comment: N/A,Comment: N/A,-1,7,institution constitutional arrangement importa...,comment n,0.6087,0.0000